<% if notice %>
<aside id="notice"><%= notice %></aside>
<%end%>

<h2>Your Pragmatic Cart</h2>
<ul>
  <% @cart.line_items.each do |item| %>
    <li><h4><%= item.product.title %></h4></li>
  <% end %>
</ul>

